<%= form_for_filterrific @filterrific do |f| %>
  <div class="well">
    <div class="row">
      <div class="col-md-3">
        <%= t("search") %>
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(:search_query, class: 'filterrific-periodically-observed form-control', placeholder: t("typeHere")) %>
      </div>
      <div class="col-md-2">
        <%= t("isLent?") %>
        <%= f.select(
          :with_lent,
          @filterrific.select_options[:with_lent],
          { include_blank: "- #{t("any")} -" }, class: "form-control"
        ) %>
      </div>
      <div style="float:right">
        <br>
        <%= link_to(t("resetFilters"),reset_filterrific_url, class: "btn btn-primary") %>
      </div>
    </div>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
<% end %>
<%= render(partial: 'home/list', locals: { products: @products }) %>
